
#container1 {
    display:flex;
    align-items: center;
    justify-content:center;
    width: 500px;
    height: 550px;

    border: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

body{
    background-color: #F0F2F5;
    position: relative;
    height: 115vh;
}

@media screen and (max-width:550ppx) {
    #container1{
        left:70px;
    }

}



